{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.bootstrap.min.css"> -->


<script>
  $(function() {
    $("#fav-table").tablesorter();
  });
</script>

  <div class="container mt-5 text-center">
    <h1 class="mb-4">Server Status Monitor</h1>

    <div class="table-responsive">
      <table id="fav-table" class="table table-striped table-bordered text-center align-middle table-hover tablesorter tablesorter-bootstrap">
        <thead>
          <tr>
            <th>Server Name</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Disk Free (GB)</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <td>{{ d.server_name }}</td>
            <td>{{ d.cpu }}</td>
            <td>{{ d.memory }}</td>
            <td>{{ d.disk_free_gb | number_format }}</td>
            <td>{{ d.timestamp | datetime_format }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="5">No data</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

